.page-outer {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.page-frame {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 700px) {
  .page-frame {
    flex-direction: column;
  }

  .page-outer {
    padding: 10px;
  }
}
