.model-container {
  display: flex;
  align-items: center;
}

.additional-text {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

@media only screen and (max-width: 700px) {
  .model-container {
    flex-direction: column;
  }
}
