.page-section {
  flex: 1;
  height: 60vh;
  max-height: 60vh;
  margin-bottom: 200px;
}

.text-frame {
  flex: 1;
  margin-left: 40px;
}

@media only screen and (max-width: 700px) {
  .text-frame {
    margin-top: 40px;
    margin-left: 0px;
  }

  .page-section {
    margin-bottom: 0px;
  }
}
